footer {

    #FooterTop {
        background-image: url("../images/footer-top/map-image.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95vh;

        .footerTopHeader {
            color: white;
        }

        #footerTopForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5vh;
            
            #footerFormTypes {
                display: flex;
                align-items: center;
                gap: 5vh;
                
                #footerInputAreas {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 3vh;
                        width: 83vh;
                        height: 10vh;
                        border-radius: 1vh;
                        margin: 2vh;
                        border: none;
                    }

                }

                textarea {
                    width: 80vh;
                    height: 39vh;
                    padding: 5vh;
                    border-radius: 1vh;
                }
            }

        }

    }

    #FooterBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vh;

        #socialLinks {

            ul {
                list-style-type: none;
                display: flex;
                gap: 2vh;

                li {
                    padding: 10px;
                    background-color: #212529;
                    border-radius: 25vh;
                    width: 6vh;
                    height: 6vh;
                    bottom: 0;
                    text-align: center;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                        color: white;
                    }

                    &:hover {
                        bottom: 15px;
                        background-color: #424649;
                    }
                }
            }
        }

        #footerBottomNavLinks {
            display: flex;
            gap: 5vh; 

            a {
                color: #212529;
            }

        }
    }
}