footer {

    #FooterBottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5vh;

        #footerBottomNavLinks {
            display: flex;
            gap: 5vh; 

            a {
                color: #212529;
            }

        }
    }
}