header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin-left: 6vh;
    margin-right: 6vh;

    img {
        width: 15%;
        height: 15vh;
        object-fit: contain;
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            gap: 5vh;

            li {
                a {
                    color: #e8e6e3;
                    text-transform: uppercase;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: #ffc800;
                    }
                }
            }
        }
    }
}